讀CSV檔

In [3]:
import pandas as pd

df = pd.read_csv('2017_01_10440-01-01-2_臺中市高級中等學校教育經費概況(預、決算數).csv')

df.head()

,RptNo,RptName,StatCourseNo,StatCourseName,DataDate,PlaceNo,PlaceName,PeriodNo,PeriodName,Complex1,...,Complex5,Complex5Name,DeriveNo,DeriveExplain,FValue,SValue,RptDeptNo,RptDeptName,CreateTime,ModifyTime
0,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a013,高級中等學校教育經費概況(預、決算數)-預算數-經費來源(單位:千元),2017/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000101,...,0,NaN,0,NaN,528957,NaN,387040000E,教育局,2018/3/5 上午 09:37:10,2018/3/8 下午 03:29:20
1,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a013,高級中等學校教育經費概況(預、決算數)-預算數-經費來源(單位:千元),2017/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000102,...,0,NaN,0,NaN,5694121,NaN,387040000E,教育局,2018/3/5 上午 09:37:10,2018/3/8 下午 03:29:20
2,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a013,高級中等學校教育經費概況(預、決算數)-預算數-經費來源(單位:千元),2017/1/1 上午 12:00:00,10000066000,臺中市,Y,年,2300100002,...,0,NaN,0,NaN,8113076,NaN,387040000E,教育局,2018/3/5 上午 09:37:10,2018/3/8 下午 03:29:20
3,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a014,高級中等學校教育經費概況(預、決算數)-預算數-經費支出(單位:千元),2017/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000101,...,0,NaN,0,NaN,591624,NaN,387040000E,教育局,2018/3/5 上午 09:37:10,2018/3/8 下午 03:29:20
4,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a014,高級中等學校教育經費概況(預、決算數)-預算數-經費支出(單位:千元),2017/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000102,...,0,NaN,0,NaN,5188057,NaN,387040000E,教育局,2018/3/5 上午 09:37:10,2018/3/8 下午 03:29:20

In [7]:
temp = df[['Complex2Name','FValue']]
temp

   Complex2Name   FValue
0           NaN   528957
1           NaN  5694121
2           NaN  8113076
3          經常支出   591624
4          經常支出  5188057
5          經常支出  5552359
6          資本支出    31363
7          資本支出   219614
8          資本支出  2359687
9          償還借款        0
10         償還借款        0
11         償還借款  1165258
12     經常支出報廢金額        0
13     經常支出報廢金額        0
14     經常支出報廢金額   301650
15     折舊、折耗及攤銷    59557
16          NaN   681227
17          NaN  5917048
18          NaN  6597028
19         經常支出   618826
20         經常支出  5653142
21         經常支出  5457471
22         資本支出    28267
23         資本支出   172096
24         資本支出  2763923
25         償還借款        0
26         償還借款        0
27         償還借款   348584
28     經常支出報廢金額        0
29     經常支出報廢金額        0
30     經常支出報廢金額   265101
31     折舊、折耗及攤銷    57098
32     折舊、折耗及攤銷        0
33     折舊、折耗及攤銷        0
34     折舊、折耗及攤銷        0
35     折舊、折耗及攤銷        0

In [8]:
Type = temp.groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [9]:
Type['year'] = 2017
Type

  Complex2Name    FValue  year
0         償還借款   1513842  2017
1     折舊、折耗及攤銷    116655  2017
2         經常支出  23061479  2017
3     經常支出報廢金額    566751  2017
4         資本支出   5574950  2017

In [12]:
df2018 = pd.read_csv('2018_01_10440-01-01-2_臺中市高級中等學校教育經費概況(預、決算數).csv')

In [13]:
new = df2018[['Complex2Name','FValue']].groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [14]:
new['year'] = 2018
new

  Complex2Name    FValue  year
0         償還借款   2568559  2018
1     折舊、折耗及攤銷    189090  2018
2         經常支出  23744400  2018
3     經常支出報廢金額   5724945  2018
4         資本支出   5319702  2018

In [15]:
frames = [Type, new]
result = pd.concat(frames)
result

  Complex2Name    FValue  year
0         償還借款   1513842  2017
1     折舊、折耗及攤銷    116655  2017
2         經常支出  23061479  2017
3     經常支出報廢金額    566751  2017
4         資本支出   5574950  2017
0         償還借款   2568559  2018
1     折舊、折耗及攤銷    189090  2018
2         經常支出  23744400  2018
3     經常支出報廢金額   5724945  2018
4         資本支出   5319702  2018